
header {
  text-align: center;
}
.container {
  margin: 5rem 2rem;
  width: 80%;
}
.my-photos {
  display: inline-flex;
}
.myskills{
  display: grid;
  grid-auto-flow: row;
  background-color: #bde6f3;
  border: 3px solid hsla(270, 50%, 45%, 1);
  color: darkblue;
  width: 30%;
  padding:2rem;
  margin: 3rem;
}
.my-photos img {
  border-radius: 8px;
}

.picture img {

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  
}
.picture {
  display: grid;
  grid-auto-flow: column;
  padding: 0;
  margin: 0;
}
.mechanic, .developer {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.project {
  margin: 3rem;
  padding: 2rem;
}

#mechanic {
  color: white;
  font-size: 2rem;
  text-align: center;
}
#developer {
  color: red;
  font-size: 2rem;
  text-align: center;
}
.caption {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
}


footer {
  text-align: center;
  color: whitesmoke;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: rgba(61, 61, 61, 0.281);
}
.page-links {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 1rem;
  right: 1rem;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.page-links a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #a1c7f1;
  display: block;
}

.project-description {
  margin: 1rem;
}
